{% extends "layout.html" %}

{% block title %}
Motivation
{% endblock %}

{% block main %}


<form action="/motivation" method="get">
    <button class="btn btn-secondary" type="submit">Show new quote</button>
</form><br><br>

<div class="w3-panel w3-light-grey">

    <span style="font-size:120px;line-height:0.6em;opacity:0.2">&#10077;</span>
    <p class="w3-xlarge" style="margin-top:-40px">
    <div class="container" style="font-size:35px;">
        <i>"{{dict["text"]}}"</i></p>
        <p>--{{dict["author"]}}</p>
    </div>
</div>

{% endblock %}